
{% extends 'web/base.html'%}
{% load static  %}
{% block tittle %}Registro{% endblock %}
{% block content %}
{% load crispy_forms_tags %}  

<!--Register-->
<div class="container py-5">
    <h1><center>Registro</center></h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ register_form|crispy}}
        <button type="submit" class="button button2">Register</button>
    </form>
    <p class="text-center">Si ya tienes una cuenta, <a href="{% url 'login' %}">Login</a> intenta.</p>
</div>

{% endblock %}