.page-header {
    background-color: #533A71;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}
a:link{
    color: black;
    background-color: none;
    text-decoration: none;
}
a:hover{
    animation: mymove2 1s;
}
h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 42pt;
    text-decoration: none;
    font-family:Orelega+One;
}
    img {
        display:inline-block;
        margin-left: auto;
        margin-right: auto;
      }
/*6d80c2*/
body{background-color:#6d80c2;}

button {
    color: whitesmoke;
    background-color: orange;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button1,
.button2:hover{width: 250px;
    background-color: rgb(241, 238, 18); 
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3:hover{width: 250px;
  background-color: rgb(241, 107, 18); 
  border-radius: 12px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#DIV2{
  width: 180px;
  height: 100px;
  background-color: #6d80c2;
  animation: mymove 20s infinite;
  animation-delay: 5s;
}
  #DIV3{
    width: 180px;
    height: 80px;
    animation: mymove 5s infinite;
  }
  #DIV4{
    width: 180px;
    height: 58px;
    animation: mymove 7s infinite
  }
  #DIV5{
    width: 180px;
    height: 100px;
    animation: mymove 9s infinite;
  }
  #DIV6{
    width: 70px;
    height: 70px;
    animation: mymove 8s infinite;
  }
  #DIV7{  
    width: 180px;
    height: 100px;
    animation: mymove 10s infinite;
  }
  #DIV8{
    width: 180px;
    height: 100px;
    animation: mymove 12s infinite;
  }
  #DIV9{
    width: 180px;
    height: 100px;
    animation: mymove 11s infinite;
  }
   #DIV10{
    width: 180px;
    height: 100px;
    animation: mymove 10s infinite;
  }

@keyframes mymove{
    50%{opacity: 0;}
}

@keyframes mymove2{
  50%{opacity: 1;}
}

.actividad-header{
  padding: 25px 20px;
  background: #555;
  border-radius: 12px;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  max-width: 450px;
  color: white;
}
.actividad2-header{
  padding: 25px 20px;
  background: rgb(126, 104, 88);
  border-radius: 12px;
  font-size: 35px;
  max-width: 450px;
  color: white;
}
.actividad3-header{
  padding: 25px 20px;
  background: rgb(177, 132, 99);
  border-radius: 12px;
  font-size: 55px;
  color: white;
}
.actividad4-header{
  padding: 25px 20px;
  background: rgb(124, 60, 14);
  border-radius: 12px;
  font-size: 25px;
  max-width: 850px;
  color: white;
}
.actividad-container{
  position: relative;
  left:1px;
  padding: 20px;
  background-color: #ccc;
  border-radius: 12px;
  font-size:20px;
  max-width: 900px;
  color: black;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
