{% extends 'web/base.html'%}
{% load static %}
{% block tittle %} Ejercicios {% endblock%}

{% block content %}
<div style="Position:absolute; left:46pc; top:160px;"><h2 style="font-size:55px;"><tittle>EJERCICIOS</tittle></h2></div>
<div style="Position:absolute; left:1px; top:150px;" ><a href="{% url 'inicio' %}"><button class="button button2">Inicio</button></a></div>
<br><br><hr>
<p> Ejercicios:
    1.Un grupo de 6 amigas tienen distintas edades. Son las siguientes: 2 de ellas tienen 28 años y otras 2 tienen 32 años, el resto tienen 29 y 30 años respectivamente. Calcula la media aritmética del grupo.
    A)	179
    B)	30
    C)	29
    D)	180
    
    
    
    
    2.Alturas de los alumnos de los grupos A y B de la clase de matemáticas:
    A-	 155, 165, 170, 165, 149, 172, 157, 175, 158.
    B-	165, 178, 190, 186, 156, 157, 164, 182, 174.
    
    Calcular la altura media de cada grupo.
    A)	A=165, B= 174
    B)	A=162, B=173
    C)	A=163, B=173
    D)	A=162, B=172
    
    3. En un partido de baloncesto, se tiene la siguiente anotación en los jugadores de un equipo:
    0,3,6,2,1,53,46,5,6
    Calcular la media de anotación del equipo.
    A)	14
    B)	16
    C)	13
    D)	12
    </p>
 <br>

 <p> Ejercicios: 
    1.	¿Cuál es el volumen de un prisma que tiene una altura de 13 m y su base cuadrangular tiene mide 5 por 6?
    
    A)402
    B)395
    C)276
    D)390
    
    
    2.	¿Cuál es el volumen de un prisma que tiene una altura de 24 m y su base cuadrangular tiene mide 12 por 9?
    
    A)1357
    B)2678
    C)3294
    D)2592
    
    
    3.	¿Cuál es el volumen de un prisma que tiene una altura de 130 m y su base cuadrangular tiene mide 40 por 23?
    
    A)124042
    B)244114
    C)119600
    D)143234
    
    </p>
    <br>

<p> Ejercicio:
    1-	¿Cuál es el volumen de un prisma que tiene una altura de 6 m y su base triangular tiene una altura de 5 m y una base de 6 m?
    
    A) 95 
    B) 90
    C) 92
    
    
    
    
    2-	Un prisma tiene una altura de 11 m y su base triangular tiene una altura de 5 m y una base de 4 m. ¿Cuál es su volumen?
    
    A) 101
    B) 011
    C) 110
    
    3-	¿Cuál es el volumen de un prisma que tiene una altura de 9 m y su base triangular tiene una altura de 6 m y una base de 8 m?
    
    A) 261
    B) 316
    C) 216
    </p>


{% endblock%}