{% extends 'web/base.html'%}
{% load static %}

{% block content %}
	<!-- Masthead-->
	<header class="masthead">
		<div class="container">
			<div class="masthead-subheading">Proyecto Matematico De Apoyo Estudiantil</div>
			<div class="masthead-heading text-uppercase">Matematicas accesibles para todos</div>
			<a class="btn btn-primary btn-xl text-uppercase" href="#acercaDe">Saber Mas</a>
		</div>
	</header>
	<section class="page-section" id="acercaDe">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Acerca de</h2>
                    <h3 class="section-subheading text-muted">Proyecto Matematico De Apoyo Estudiantil</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-brain fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Intuitivo</h4>
                        <p class="text-muted">La platorma desarrollada a traves del proyecto matematico de apoyo estudiantil permite a los estudiantes de secundaria reforzar el conocimiento adquirido en las aulas de manera facil e intuitiva</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Seguridad</h4>
                        <p class="text-muted">Implementamos un uso de usuarios con un registro preehecho para tener la fácilidad y rápidez de conectarse.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-clipboard-list fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Accesibilidad</h4>
                        <p class="text-muted">Tratamos de introducir a los usuarios en una página adaptativa para entender su uso de la forma más sencilla.</p>
                    </div>
                </div>
            </div>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Sobre el proyecto</h2>
                </div>
                <ul class="timeline">
                    <li>
                         <span class="fa-stack fa-5x">           
                            <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                            <i class="fas fa-calendar-days fa-stack-1x fa-inverse"></i>
                        </span> 
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">¿Cuando?</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Este proyecto inicia en el año 2022, presentando un apoyo hacia todos los estudiantes de secundaria para darles capacitación durante sus cursos de matemáticas.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">     
                        <div class="timeline-panel">
                            <div class="timeline-heading">                              
                                <h4 class="subheading">¿Porque?</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Estamos concientes de que al ser una materia muy pesada o aburrida para ciertos jovenes, pueden llegar a odiar la materia o tener un pesimo rendimiento, por ello nació esta ídea, para darle una estructura más dinámica a las matemáticas.</p></div>
                        </div>
                            <span class="fa-center fa-5x">
                                <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                            </span>
                    </li>
                    <li>
                        <span class="fa-center fa-5x">
                            <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                            <i class="fas fa-list-check fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">¿Como?</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Otorgando una web personal y privada para el desarrollo lógico matemático propio de cada grupo así como de cada estudiante.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <span class="fa-center fa-5x">
                            <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                            <i class="fas fa-flag-checkered fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Resultado</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Como resultado tenemos este sitio para asesoria de temas y prácticas para que en cualquier momento el estudiante pueda entrar y revisar cada tema</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Se parte
                                <br />
                                de una
                                <br />
                                generación
                                <br />
                                preparada
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Equipo</h2>
                    <h3 class="section-subheading text-muted">Creadores del proyecto</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="static/img/dev.png" alt="..." />
                            <h4>Santiago Perez </h4>
                            <p class="text-muted">Programador</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Perez Salazar Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Perez Salazar Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Perez Salazar Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="static/img/lider.png" alt="..." />
                            <h4>Carlos  Jimenez</h4>
                            <p class="text-muted">Lider de proyecto</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Geovani Santos Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Geovani Santos Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Geovani Santos LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="static/img/admin.png" alt="..." />
                            <h4>Joshua Flores </h4>
                            <p class="text-muted">Administrador</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Flores Almaraz Twitter Profile"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Flores Almaraz Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Flores Almaraz LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock%}